<li class="list-group-item">
    <a href="{{link}}" target="_blank" class="pull-right btn btn-xs btn-ukm" style="margin: -.3em;">Last ned</a>
    <b>{{innslag}} - {{navn}}: </b> {{error}}
    <div class="clearfix"></div>
</li>