<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h1>Mediefiler og dokumenter til bruk i gjennomføringen</h1>
            {% include "wp_modul.flashbag.html.twig" %}
            {% include "status.html.twig" %}
        </div>
    </div>
</div>
{% block content %}{% endblock %}