{% extends "layout.twig.html" %}

{% block content %}
<div class="clearfix"></div>

<h4>Innslag på din mønstring som har tilknyttede playback-filer</h4>

<ul class="list-unstyled">
	{% for innslag in pb_innslag %}
		<li>
			<h3>{{innslag.name}}</h3>
			<table class="table table-striped">
				{% for playback in innslag.playback %}
					<tr>
						<td class="col-xs-4">
							<strong>{{playback.name}}</strong>
							<br />
							<small>{{playback.file}}</small>
						</td>
						<td class="col-xs-4">{{playback.description}}</td>
						<td class="col-xs-2">
							<a href="//playback.ukm.no/{{playback.pl_id}}/{{playback.id}}/" target="_blank">
								<img src="//ico.ukm.no/download-32.png" width="25" />
								<small>Last ned</small>
							</a>
						</td>
						{% if playback.pl_id == monstring.pl_id %}
						<td class="col-xs-2">
							<a href="?page=UKMplayback&delete_id={{playback.id}}&delete_b_id={{playback.b_id}}" class="PBdel">
								<img src="//ico.ukm.no/delete-256.png" width="25" />
								<small>Slett</small>
							</a>
						</td>
						{% endif %}
					</tr>
				{% endfor %}
			</table>
		</li>
	{% else %}
		<li class="alert alert-info">Ingen innslag på din mønstring har opplastede playbackfiler</li>
	{% endfor %}
</ul>

{% endblock %}
