<h4>{{ name is defined ? name : data.name }}</h4>
{% if data.success %}
	<li {{ data.notify ? 'class="alert alert-info"' : ''}}>
		<p><a href="{{data.url}}">Last ned zip-fil</a></p>
		{% if data.notify %}
			<div class="alert alert-warning">
				<p>Følgende filer ble ikke inkludert i zip-filen og må lastes ned manuelt</p>
				{% for note in data.notifications %}
					<p>{{note.name}}: <a href="{{note.url">Last ned manuelt</a> (årsak: {{note.notify}})</p>
				{% endfor %}
			</div>
		{% endif %}
	</li>
{% else %}
	<li class="alert alert-danger">
		<p>En feil oppsto ved komprimering av filer!</p>
		<p>Feilmelding: {{data.error}}</p>
	</li>
{% endif %}