{% if STATUS.status %}
    <div class="">
        {% if STATUS.level == "critical" %}
            <div class="alert alert-error alert-danger alert-block hidden-sm hidden-md hidden-lg">
                <b>Kritisk driftsstatus</b>:
                {{STATUS.message|raw}}
            </div>
        {% elseif STATUS.level == "warning" %}
            <div class="alert alert-warning">
                <b>Vi gjør oppmerksom</b>: 
                {{STATUS.message|raw}}
            </div>
        {% elseif STATUS.level == "info" %}
            <div class="alert alert-info">
                <b>{{STATUS.message|raw}}</b>:
                Du trenger ikke gjøre noe med dette.
            </div>
        {% endif %}
    </div>
{% endif %}